.photo-pair {
    display: flex;
    flex-direction: row;
}

.photo-pair .photo-card {
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #F2F2F2;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.photo-pair .photo-card img {
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.photo-pair .photo-card .info-card {
    display: none;
    position: absolute;
    top: 10px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.photo-pair .photo-card:hover .info-card {
    display: block;
}

.info-card .heart-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.info-card .heart-container .heart {
    position: relative;
    width: 30px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 50px 50px 0 0;
    left: 8px;
    top: 150px;
    transform: rotate(315deg);
}

.info-card .heart-container .heart:before {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #F2F2F2;
    border-radius: 0 50px 50px 0;
}

.info-card .heart-container .heart:hover:before,
.info-card .heart-container .heart:hover {
    background-color: #DD0A17;
}

