#home {
    display: flex;
    justify-content: space-around;
}

#list-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.btn-add {
    background-color: tomato;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
    transition-duration: 0.3s;
    justify-content: space-around;
}

.btn-add:hover {
    background-color: #e55a3f;
}

.btn-add_plus {
    width: 80px;
    height: 80px;
}
.btn-add_plus:before, .btn-add_plus:after {
    position: absolute;
    top: 25px;
    right: 37px;
    content: ' ';
    height: 30px;
    width: 4px;
    background-color: #fff;
}

.btn-add_plus:before {
    transform: rotate(90deg);
}

.btn-add_plus:after {
    transform: rotate(0deg);
}