#home {
  display: flex;
  justify-content: space-around;
  margin-top: 130px;
}

#list-container {
  display: flex;
  flex-direction: column;
}

.btn-add {
  background-color: tomato;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition-duration: 0.3s;
  justify-content: space-around;
  cursor: pointer;

  &:hover {
    background-color: #e55a3f;
  }
}

.btn-add_plus {
  width: 80px;
  height: 80px;

  &:before, &:after {
    position: absolute;
    top: 25px;
    right: 38px;
    content: ' ';
    height: 30px;
    width: 4px;
    background-color: #fff;
  }

  &:before {
    transform: rotate(90deg);
  }
  &:after {
    transform: rotate(0deg);
  }
}


